# Virtual Environment
.venv

# Environment file
.env

# Error logs
*.log

# Backups dir
.backups/*

# Databases
*.db

# Pycache dir
__pycache__/

# VSCode settings
.vscode

# Soundboard files
sounds/*

# listen.moe now playing
nowPlaying.json